*{
    margin: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.principal{ 
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.padre{
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.hijo1{
    width: 300px;
}

.hijo1 a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: white;
    text-decoration: none;
    
}

.fondo{
    background-color: #E5E5E5;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.rojo{
    color: red;
}

.blanco{
    color: white;
}

.deliver{
    background-image:url("../img/delivery.jpg");
    width: 490px;
    height: 350px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: inline-flex;
    padding-top: 20px;
    padding-left: 20px;
    border-radius:5px ;
}

.podio{
    width: 491px;
    height: 350px;
    background-color: white;
    display: inline-block;  
    align-items: center;
    border-radius: 5px;
    padding-left: 20px;
}

.podio h2{
    text-align: center;
    padding-top: 22px;
    margin-top: 22px;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.padre_podio{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    height: 84px;
    width: 600px;
    padding-top: 30px;
    padding-right: 170px;
}

.hijo1_podio{
    font-weight: 700;
    line-height: 29px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
}


.hijo2_podio{
    display: inline-block;
    width: 150px;
    height: 190px;
    padding-top: 50px;
    padding-right: 30px;
}

.fin{
    background-color:#222222;
    display: flex;
    justify-content: space-between;
    line-height: 18px;
    align-items: center;
    margin: 0%;
    height: 150px;
}

.fin1{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    line-height: 19px;
}

.fin1 a{
    color: white;
    text-decoration: none;
    display: inline-block;
    line-height: 19px;
    padding-left: 20px;
    width: 78px;
    height: 27px;
}

.fin2{
    display: inline-block;
    padding-right: 20px;
}

